!!!
// [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
// [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]
// [if IE 8]>         <html class="no-js lt-ie9"> <![endif]
// [if gt IE 8]><!
html.no-js
  //<![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Kipling, the story teller
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width")
    // Place favicon.ico and apple-touch-icon.png in the root directory
    
    // build:css(.tmp) styles/main.css 
    
    link(rel="stylesheet", href="/stylesheets/main.css")
    // endbuild
    //- build:head
  body(ng-app="kipplingApp")
    //[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
      <![endif]
    //[if lt IE 9]>
      <script src="/javascripts/es5-shim/es5-shim.js"></script>
      <script src="/javascripts/json3/lib/json3.min.js"></script>
      <![endif]

    div(class="container")
      div.header
        ul.nav.nav-pills.pull-right
          li.active
            a(href="#") About
        h3.text-muted Kipling
          small 
            i.glyphicon.glyphicon-chevron-right
            | &nbsp;Agile Story Magic

      // Add your site or application content here
      div(ng-view)

    script(src="/javascripts/jquery/jquery.min.js")
    script(src="/stylesheets/bootstrap/js/bootstrap.min.js")
    script(src="/javascripts/angular/angular.min.js")
    script(src="/javascripts/angular/angular-route.js")
    script(src="/javascripts/angular/ui-bootstrap-tpls-0.6.0.js")
    
    // build:js({.tmp,app}) scripts/scripts.js 
    script(src="/javascripts/app.js")
    script(src="/javascripts/controllers/main.js")
    script(src="/javascripts/jquery/jquery.zclip.min.js")
    // endbuild
    //- build:body

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
